 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/blockidentitycons.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 825px;
}

.u-section-1-1 .u-text-1 {
  width: 605px;
  margin: 220px auto 0;
}

.u-section-1-1 .u-text-2 {
  font-weight: normal;
  animation-duration: 1000ms;
  font-size: 1.125rem;
  margin: 69px 91px 0 125px;
}

.u-section-1-1 .u-layout-wrap-1 {
  width: 596px;
  margin: 103px 255px 60px auto;
}

.u-section-1-1 .u-layout-cell-1 {
  min-height: 69px;
}

.u-section-1-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 auto;
  padding: 10px 31px 10px 30px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-1-1 .u-text-1 {
    margin-top: 94px;
  }

  .u-section-1-1 .u-text-2 {
    width: 668px;
    margin-top: -49px;
    margin-left: 16px;
    margin-right: 0;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    width: 463px;
    margin-top: -61px;
    margin-bottom: 0;
    margin-left: 238px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 552px;
  }

  .u-section-1-1 .u-text-1 {
    margin-top: 103px;
  }

  .u-section-1-1 .u-text-2 {
    margin-top: -58px;
    margin-left: 0;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    width: 456px;
    margin-top: -52px;
    margin-right: 124px;
    margin-left: 132px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 109px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-right: -2px;
  }
}

@media (max-width: 767px) {
   .u-section-1-1 {
    background-position: 43.43% 50%;
  }

  .u-section-1-1 .u-text-1 {
    margin-top: 87px;
    width: 540px;
  }

  .u-section-1-1 .u-text-2 {
    width: 540px;
    margin-top: -42px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    width: 427px;
    margin-top: 103px;
    margin-right: 0;
    margin-left: 56px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 66px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-right: auto;
  }
}

@media (max-width: 575px) {
   .u-section-1-1 {
    background-position: 34.75% 50%;
  }

  .u-section-1-1 .u-text-1 {
    margin-top: 341px;
    width: 340px;
  }

  .u-section-1-1 .u-text-2 {
    width: 340px;
    margin-top: -288px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    margin-top: -97px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 72px;
  }
}.u-block-84f4-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-84f4-3 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
}

.u-block-84f4-4 {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-block-84f4-3 {
    width: 33px;
    height: 33px;
  }

  .u-block-84f4-4 {
    width: 33px;
    height: 33px;
  }
}

@media (max-width: 991px) {
  .u-block-84f4-3 {
    width: 25px;
    height: 25px;
  }

  .u-block-84f4-4 {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 767px) {
  .u-block-84f4-3 {
    width: 24px;
    height: 24px;
  }

  .u-block-84f4-4 {
    width: 24px;
    height: 24px;
  }
}

.u-block-3592-14:not([data-block-selected]) {
  transition-property: fill, color, background-image, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform !important;
}