 .u-section-1 {
  background-image: url("images/blockidentitycons.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 803px;
}

.u-section-1 .u-text-1 {
  width: 680px;
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-1 .u-line-1 {
  width: 216px;
  height: 3px;
  transform-origin: right center;
  margin: 30px auto 0;
}

.u-section-1 .u-list-1 {
  margin: 50px 0 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  grid-gap: 20px 20px;
  min-height: 450px;
}

.u-section-1 .u-list-item-1 {
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 307px;
  height: 229px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 1px;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem;
  letter-spacing: 2px;
  margin: 20px auto 0 0;
}

.u-section-1 .u-list-item-2 {
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 307px;
  height: 229px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-4 {
  letter-spacing: 1px;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-1 .u-text-5 {
  font-style: italic;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem;
  letter-spacing: 2px;
  margin: 20px auto 0 0;
}

.u-section-1 .u-list-item-3 {
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  width: 307px;
  height: 229px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-6 {
  letter-spacing: 1px;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-1 .u-text-7 {
  font-style: italic;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem;
  letter-spacing: 2px;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-list-item-2 {
    background-size: auto;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-list-item-3 {
    background-size: auto;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
  }
}